
data/__pycache__/regions.cpython-39.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/Spider_Item_Subito.it.iml
.idea/vcs.xml
data/__pycache__/brands.cpython-39.pyc
__pycache__/constants.cpython-39.pyc
.idea/modules.xml
