
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Spider_Item_Subito.it.iml
.idea/vcs.xml
.idea/workspace.xml
data/__pycache__/brands.cpython-39.pyc
data/__pycache__/regions.cpython-39.pyc
utility/__pycache__/constants.cpython-39.pyc
utility/__pycache__/constants.cpython-39.pyc
result/result.txt
